 .App {
  font-family: "Montserrat", "sans-serif" -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";

  text-align: center;
  max-width: 40em;
 }
